@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

nav.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}

header {
    padding: 2rem 0;
}

header a {
    color: #fff;
}

.profile-pic {
    border: 4px solid #fff;
    border-radius: 50%;
    width: 17rem;
    height: 17rem;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4);
}

.bg-primary {
    background-color: #5363F5 !important;
}

header p {
    line-height: 1;
}

header p:first-child {
    font-size: 3rem;
    font-weight: 200;
}

header .job-title {
    font-size: 4rem;
    font-weight: bold;
}

#about-exp {
    text-align: center;
    font-family: Arial, sans-serif;
}

.number-container {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}

.blue-circle {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: #5363F5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.number-text {
    color: #fff;
    font-size: 8rem;
    text-shadow: 2px 2px 2px rgb(100, 100, 100);
    position: relative;
    z-index: 2;
    line-height: 1;
}

.experience-text {
    color: #000;
    font-size: 1.5rem;
}

.space {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.subtitle {
    font-size: 1rem;
    color: #fff;
    background-color: #5363F5;
    padding: 0.2rem 0.4rem;
}

.intro {
    font-size: 1.5rem;
}

.icons i {
    color: #5363F5;
    font-size: 3rem;
}

#resume .box {
    padding: 0 1rem;
    border-left: 2px solid #5363F5;
}

#resume .item {
    border-bottom: 0.5px solid lightgray;
    margin-bottom: 1rem;
    line-height: 1.5;
}

.item h6 {
    font-weight: 300;
}